%html
  %head
    %title Scotland's Covid-19 Data
    %link{rel: 'stylesheet', href:'index.css'}
  %body
    %h1 Scotland's Covid-19 Data
    %p
      This site hastily thrown together by
      = succeed ',' do
        %a{href: 'https://twitter.com/robertgauld'}>@RobertGauld
      the code is available at
      = succeed '.' do
        %a{href: 'https://github.com/robertgauld/scotland-covid19-data'}https://github.com/robertgauld/scotland-covid19-data
    %p
      Thanks to
      %a{href: 'https://twitter.com/watty62'}@watty62
      for collecting and preprocessing the Scotland data at
      = succeed ',' do
        %a{href: 'https://github.com/watty62/Scot_covid19'}>https://github.com/watty62/Scot_covid19
      thanks to his further work this data is now available from the Scottish Government at
      = succeed '.' do
        %a{href: 'https://github.com/DataScienceScotland/COVID-19-Management-Information'}>https://github.com/DataScienceScotland/COVID-19-Management-Information
      Data upto #{upto_scotland.strftime('%A %-d %B %Y')} is currently available and displayed.
      %br
      Thanks to
      %a{href: 'https://twitter.com/tom_e_white'}@tom_e_white
      for collecting and preprocessing the UK data at
      = succeed '.' do
        %a{href: 'https://github.com/tomwhite/covid-19-uk-data'}>https://github.com/tomwhite/covid-19-uk-data
      Data upto #{upto_uk.strftime('%A %-d %B %Y')} is currently available and displayed.
      %br
      Also includes a Google dataset: Google LLC "Google COVID-19 Community Mobility Reports".
      %a{href: 'https://www.google.com/covid19/mobility/'}https://www.google.com/covid19/mobility/
      Accessed
      = succeed '.' do
        = GoogleMobilityData.accessed_at&.strftime('%Y-%m-%d')
    %p
      On start up and every hour thereafter this site checks for new data and if 
      new data is available it regenerates itself.
      - if updating
        %span.highlight
          The data is currently being updated.
      - unless hide_zip_download_link
        %a{href: 'scotland-covid19-data.zip'} Download the current site and raw data.

    #links{style: 'padding-left: 15%; padding-right: 15%;'}
      %div{style: 'display: inline-block; min-width: 16em;'}
        %a{style: 'margin-left: 1em; margin-right: 1em;', href: '#uk'} UK
      %div{style: 'display: inline-block; min-width: 16em;'}
        %a{style: 'margin-left: 1em; margin-right: 1em;', href: '#scotland'} Scotland
      %br
      %br
      - health_boards.each do |health_board|
        - health_board_link = health_board.downcase.gsub(' ', '_')
        %div{style: 'display: inline-block; min-width: 16em;'}
          %a{style: 'margin-left: 1em; margin-right: 1em;', href: "##{health_board_link}"}=health_board

    %hr

    #uk{class: 'chart_group'}
      %a{name: 'uk'}
      %h2 Whole of the UK
      .chart
        %a{href: "uk_total_cases_per_#{numbers_per}.png"}
          %img{src: "uk_total_cases_per_#{numbers_per}.png"}
        %br
        %a{href: "uk_cases_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: "uk_total_deaths_per_#{numbers_per}.png"}
          %img{src: "uk_total_deaths_per_#{numbers_per}.png"}
        %br
        %a{href: "uk_deaths_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: "uk_daily_cases_per_#{numbers_per}.png"}
          %img{src: "uk_daily_cases_per_#{numbers_per}.png"}
        %br
        %a{href: "uk_cases_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: "uk_daily_deaths_per_#{numbers_per}.png"}
          %img{src: "uk_daily_deaths_per_#{numbers_per}.png"}
        %br
        %a{href: "uk_deaths_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: "uk_daily_cases_per_#{numbers_per}_averaged_7_days.png"}
          %img{src: "uk_daily_cases_per_#{numbers_per}_averaged_7_days.png"}
      .chart
        %a{href: "uk_daily_deaths_per_#{numbers_per}_averaged_7_days.png"}
          %img{src: "uk_daily_deaths_per_#{numbers_per}_averaged_7_days.png"}
      .chart
        %a{href: 'england_vs_uk.png'}
          %img{src: 'england_vs_uk.png'}
        %br
        %a{href: "england_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: 'scotland_vs_uk.png'}
          %img{src: 'scotland_vs_uk.png'}
        %br
        %a{href: "scotland_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: 'wales_vs_uk.png'}
          %img{src: 'wales_vs_uk.png'}
        %br
        %a{href: "wales_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: 'northern_ireland_vs_uk.png'}
          %img{src: 'northern_ireland_vs_uk.png'}
        %br
        %a{href: "northern_ireland_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: 'mobility_uk.png'}
          %img{src: 'mobility_uk.png'}

    #scotland{class: 'chart_group'}
      %a{name: 'scotland'}
      %h2 Whole of Scotland
      .chart
        %a{href: 'scotland_daily_tests.png'}
          %img{src: 'scotland_daily_tests.png'}
        %br
        %a{href: 'scotland_tests.csv'} Download data
      .chart
        %a{href: 'scotland_cumulative_tests.png'}
          %img{src: 'scotland_cumulative_tests.png'}
        %br
        %a{href: 'scotland_tests.csv'} Download data
      .chart
        %a{href: "scotland_total_cases_per_#{numbers_per}.png"}
          %img{src: "scotland_total_cases_per_#{numbers_per}.png"}
        %br
        %a{href: "scotland_cases_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: "scotland_daily_cases_per_#{numbers_per}_averaged_7_days.png"}
          %img{src: "scotland_daily_cases_per_#{numbers_per}_averaged_7_days.png"}
      -#.chart
        %a{href: "scotland_total_deaths_per_#{numbers_per}.png"}
          %img{src: "scotland_total_deaths_per_#{numbers_per}.png"}
        %br
        %a{href: "scotland_deaths_per_#{numbers_per}.csv"} Download data
      .chart
        %a{href: "scotland_icus.png"}
          %img{src: "scotland_icus.png"}
        %br
        %a{href: "scotland_icus.csv"} Download data
      .chart
        %a{href: 'scotland_icu_deceased.png'}
          %img{src: 'scotland_icu_deceased.png'}
        %br
        %a{href: 'scotland_icu_deceased.csv'} Download data
      .chart
        %a{href: 'mobility_scotland.png'}
          %img{src: 'mobility_scotland.png'}
      .chart
        %a{href: 'mobility_scotland_vs_uk.png'}
          %img{src: 'mobility_scotland_vs_uk.png'}

    %hr

    - health_boards.each do |health_board|
      - health_board_link = health_board.downcase.gsub(' ', '_')
      %div{id: health_board_link, class: 'health_board chart_group'}
        %a{name: health_board_link}
        %h2=health_board
        %a{href: "#{health_board_link}_per_#{numbers_per}.csv"} Download data
        %br
        .chart
          %a{href: "#{health_board_link}_per_#{numbers_per}.png"}
            %img{src: "#{health_board_link}_per_#{numbers_per}.png"}
        .chart
          %a{href: "#{health_board_link}_vs_scotland.png"}
            %img{src: "#{health_board_link}_vs_scotland.png"}
