%html
  %head
    %title Scotland's Covid-19 Figures
  %body
    %h1{style: 'text-align: center;'} Scotland's Covid-19 Figures
    %p
      Thanks to
      %a{href: 'https://github.com/watty62'} watty62
      for collecting and preprocessing the data at
      %a{href: 'https://github.com/watty62/Scot_covid19'} https://github.com/watty62/Scot_covid19
    %p
      On start up and every hour thereafter this site checks for new data and if 
      new data is available it regenerates itself.
      %br
      Data upto #{upto.strftime('%A %-d %B %Y')} is currently available and displayed.
    %p
      Two of the graphs below are absent as the corresponding health board has reported 0 cases.

    %h2 Whole of Scotland
    #scotland
      .chart{style: 'width: 45%; text-align: center; display: inline-block;'}
        %a{href: "/cases_per_#{numbers_per}.png"}
          %img{src: "/cases_per_#{numbers_per}.png", width: 450, height: 300}
        %br
        %a{href: "/cases_per_#{numbers_per}.csv"} Download data
      .chart{style: 'width: 45%; text-align: center; display: inline-block;'}
        %a{href: "/deaths_per_#{numbers_per}.png"}
          %img{src: "/deaths_per_#{numbers_per}.png", width: 450, height: 300}
        %br
        %a{href: "/deaths_per_#{numbers_per}.csv"} Download data

    %hr{width: '50%', style: 'margin-top: 3em;'}

    #health_boards_links{style: 'padding-left: 33%;'}
      %ul
        - health_boards.each do |health_board|
          - health_board_link = health_board.downcase.gsub(' ', '_')
          %li
            %a{style: 'margin-left: 10px; margin-right: 10px;', href: "##{health_board_link}"}=health_board

    - health_boards.each do |health_board|
      - health_board_link = health_board.downcase.gsub(' ', '_')
      %a{name: health_board_link}
      %h2=health_board
      %a{href: "/#{health_board_link}_per_#{numbers_per}.csv"} Download data
      #scotland{class: 'health_board_link'}
        .chart{style: 'width: 45%; text-align: center; display: inline-block;'}
          %a{href: "/#{health_board_link}_per_#{numbers_per}.png"}
            %img{src: "/#{health_board_link}_per_#{numbers_per}.png", width: 450, height: 300}
          %br
        .chart{style: 'width: 45%; text-align: center; display: inline-block;'}
          %a{href: "/#{health_board_link}_vs_scotland.png"}
            %img{src: "/#{health_board_link}_vs_scotland.png", width: 450, height: 300}
